<div class='panel panel-primary'>
    <div class='panel-heading'>Expenses Overview</div>
    <div class='panel-body'>

        <div class='table-responsive'>
            <table class='table' *ngIf='expenses && expenses.length'>
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Date</th>
                        <th>For what</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let expense of expenses'>
                        <td>{{ expense.name }}</td>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.reason }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>